@import './variables.css';

*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-body), sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-6) var(--spacing-3);
    gap: var(--spacing-4);
}

.product-info-page {
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
}

body, header, main {
    background-color: var(--background);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--spacing-2) var(--spacing-3);
    border-bottom: 1px solid var(--border);
    align-items: flex-start;
}

footer {
    background-color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    min-height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: var(--spacing-4);
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

p {
    margin: 0.25rem;
}

.logo, h1, h2, nav {
    font-family: var(--font-heading), sans-serif;
    color: var(--primary-blue);
}

h2, h3, nav, button {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

nav a {
    font-size: 1.125rem;
}

a {
    color: var(--primary-blue);
}

a:active {
    color: var(--primary-blue-active);
}

a:hover {
    color: var(--primary-blue-hover);
}

.logo {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
}

button {
    all: unset;
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary-blue);
    color: var(--background);
    font-weight: 600;
    padding: 1rem;
    width: fit-content;
    border-radius: 0.5rem;
}

.products-carousel, .products-grid {
    display: flex;
    justify-content: center;
}

.product-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-6);
}

.product-info-container img {
    width: 24.375rem;
    height: 24.375rem;
    object-fit: cover;
}

.product-info-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.product-info-content h1 {
    margin-top: 1rem;
}

.product-info-price-ratings {
    display: flex;
    gap: var(--spacing-1);
}

.product-reviews {
    max-width: 50%;
}

.product-review {
    border-top: 1px solid var(--border);
    padding-top: var(--spacing-2);
}

.product-tags {
    display: flex;
    gap: var(--spacing-1);
}

.product-tag {
    background-color: var(--border);
    color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.discounted-price {
    color: #15803D;
    font-weight: 600;
}

.original-price {
    color: var(--text-secondary);
    text-decoration: line-through;
}

.review-row {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.ratings {
    display: flex;
    color: var(--star-icon);
    gap: 0.25rem;
}

.share-link {
    display: flex;
    gap: 4px;
    align-items: center;
    color: var(--primary-blue);
    cursor: pointer;
}

.share-link--copied {
    color: var(--text-secondary);
    cursor: unset;
}

.cart-icon,
.mobile-hamburger-button {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-blue);
}

.mobile-menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    width: 100%;
}

.mobile-nav.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--spacing-1) var(--spacing-1) var(--spacing-1) 0;
}

.toast-container {
    display: flex;
    width: 22rem;
    height: 5rem;
    z-index: 1;
    background-color: var(--card-background);
    position: absolute;
    right: var(--spacing-3);
}

.toast-indicator {
    width: 0.5rem;
    height: 5rem;
}

.toast-success {
    background-color: var(--success);
}

.toast-error {
    background-color: var(--error);
}

.toast-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: var(--background);
    flex-shrink: 0;
}

.toast-icon.toast-success {
    background-color: var(--success);
}

.toast-icon.toast-error {
    background-color: var(--error);
}

.toast-content {
    display: flex;
    align-items: center;
    padding: var(--spacing-2);
    gap: var(--spacing-2);
}

.toast-text {
    display: flex;
    flex-direction: column;
}

.text-semibold {
    font-weight: 600;
}

.text-secondary {
    color: var(--text-secondary);
}

.toast-container > button {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: var(--spacing-1);
    right: var(--spacing-1);
    color: var(--text-secondary);
}

.spinner {
    width: 120px;
    height: 120px;
    border: 8px solid var(--text-secondary);
    border-top-color: var(--primary-blue);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    header {
        padding: var(--spacing-1);
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .logo {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1.125rem;
    }
    
    p, button {
        font-size: 0.875rem;
    }
    
    nav a {
        font-size: 0.875rem;
    }
}
