@import './variables.css';

*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-body), sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-6) var(--spacing-3);
    gap: var(--spacing-4);
}

body, header, main {
    background-color: var(--background);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--spacing-2) var(--spacing-3);
    border-bottom: 1px solid var(--border);
    align-items: flex-start;
}

footer {
    background-color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    min-height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: var(--spacing-4);
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

p {
    margin: 0.25rem;
}

.logo, h1, h2, nav {
    font-family: var(--font-heading), sans-serif;
    color: var(--primary-blue);
}

h2, h3, nav, button {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.logo {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
}

.products-carousel, .products-grid {
    display: flex;
    justify-content: center;
}

.cart-icon,
.mobile-hamburger-button {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-blue);
}

.mobile-menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav {
    display: none;
    width: 100%;
}

.mobile-nav.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--spacing-1) var(--spacing-1) var(--spacing-1) 0;
}

.toast-container {
    display: flex;
    width: 22rem;
    height: 5rem;
    z-index: 1;
    background-color: var(--card-background);
    position: absolute;
    right: var(--spacing-3);
}

.toast-indicator {
    width: 0.5rem;
    height: 5rem;
}

.toast-success {
    background-color: var(--success);
}

.toast-error {
    background-color: var(--error);
}

.toast-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: var(--background);
}

.toast-icon.toast-success {
    background-color: var(--success);
}

.toast-icon.toast-error {
    background-color: var(--error);
}

.toast-content {
    display: flex;
    align-items: center;
    padding: var(--spacing-2);
    gap: var(--spacing-2);
}

.toast-text {
    display: flex;
    flex-direction: column;
}

.text-semibold {
    font-weight: 600;
}

.text-secondary {
    color: var(--text-secondary);
}

.toast-container > button {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: var(--spacing-1);
    right: var(--spacing-1);
    color: var(--text-secondary);
}

@media (max-width: 768px) {
    header {
        padding: var(--spacing-1);
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .logo {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    h3 {
        font-size: 1.125rem;
    }
    
    p, button {
        font-size: 0.875rem;
    }
}
